*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h2,h3{
    text-align: center;
    padding: 20px;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    color: black;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    color: black;
}
h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Header*/
header{
    background-color: rgb(152, 181, 207);
    height: 200px;
}
.header-bar{
    text-align: center;
    margin-bottom: 60px;
}
.header-bar h1{
    margin-bottom: 10px;
}
.header-bar a{
    margin: 8px;
    color: black;
}
.header-bar a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.highlight{
    border-left:10px solid green;
}
/*Main*/
.admin-container{
    max-width: 80%;
    margin: 0 auto;
    background-color: lightgray;
    min-height: 900px; /*change later*/
}
.search{
    display: flex;
}
.search input{
    border: 1px solid darkgrey;
    width: 300px;
    margin: 0 20px 0 30px;
}
.search button{
    width: 80px;
    border-radius: 5px;
}
.reg-pets-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}
.reg-pets-bar h4{
    margin-right: 30px;
}
.admin-container h2{
    background-color: darkgray;
    height: 100px;
    padding-top: 30px;
}
.blue-edges{
    background-color: rgb(16, 34, 49);
}
/*Services*/
.services-main{
    display: flex;
}
.service-management-right{
    width: 40%;
}
.service-management-left{
    width: 60%;
}
.services-flex{
    display: flex;
    padding: 15px;
}
.services-left{
    width: 50%;
    border: 1px solid black;
}
.services-right{
    width: 50%;
    border: 1px solid black;
}
.services-form{
    display: flex;
}
.services-small-input{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}
.services-small-input input{
    width: 70%;
    margin-right: 10px;
}
.services-large-input{
    width: 50%;
}
.services-large-input textarea{
    width: 60%;
    height: 150px;
    text-align: start;
}
.small-inputs-space{
    display: flex;
    justify-content: space-between;
}
/*Footer*/
.footer{
    min-height: 150px;
    background-color: rgb(152, 181, 207);
}
.footer p{
    margin: 0;
}
.footer-container{
    padding-top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.contact{
    width: 20%;
}
.established{
    width: 20%;
}
.follow{
    text-align: right;
    width: 20%;
}
.icons i{
    margin: 10px 0 0 10px;

}