*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h2,h3{
    text-align: center;
    padding: 20px;
}
h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Header*/
header{
    background-color: rgb(152, 181, 207);
    height: 200px;
}
.header-bar{
    text-align: center;
    margin-bottom: 60px;
}
.header-bar h1{
    margin-bottom: 10px;
}
.header-bar a{
    margin: 8px;
    color: black;
}
.header-bar a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.registered-main{
    max-width: 80%;
    text-align: end;
}
.number-registered{
    font-weight: bold;
    font-size: large;
}
/*Main*/
.main-container{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    padding-bottom: 40px;
}
@media (max-width: 1500px){
    .main-container{
        max-width: 80%;
    }
}
@media (max-width: 850px){
    .main-container{
        max-width: 90%;
    }
}
.register-field{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 600px;
    margin: 30px auto;
    border: 1px solid darkgray;
    border-radius: 20px;
}
@media (max-width: 768px){
    .register-field{
        width: 80%;
    }
}
.sub-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
}
@media (max-width: 768px){
    .sub-form{
        padding: 10px 0;
    }
}
.form-control{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: left;
    margin-top: 10px;
}
@media (max-width: 768px){
    .form-control{
        width: 100%;
    }
}
.form-radio{

    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.form-radio input{
    border: 10px solid red;
}
@media (max-width: 768px){
    .form-radio{
        width: 100%;
    }
}
.form-radio-sub{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.form-control input,
.form-control select{
    width: 70%;
    height: 25px;
    text-align: left;
}
.form-img{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
    justify-content: space-between;
}
@media (max-width: 768px){
    .form-img{
        width: 100%;
    }
}
.form-img input{
    width: 70%;
}
.submit-btn{
    width: 100px;
    height: 30px;
    margin: 20px auto;
}
.blue-edges{
    background-color: rgb(16, 34, 49);
}
/*Pet Boxes*/
.pets-grid{
    background-color: rgb(90, 90, 90);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    padding: 30px 0;
    height: 500px;
    overflow-y: scroll;
    border: 2px solid darkgray;
}
@media (max-width: 1200px){
    .pets-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px){
    .pets-grid{
        grid-template-columns: 100%;
    }
}
.pet-box{
    background-color: rgb(152, 181, 207);
    border: 2px solid rgb(0, 134, 211);
    border-radius: 20px;
    width: 250px;
    padding: 20px 20px;
    margin: 0 auto;
}
.pet-box h4{
    text-align: center;
    margin: 20px;
}
.pet-box p{
    margin-top: 10;
}
.pet-img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}
.center-img{
    text-align: center;
}
.details-grid{
    display: grid;
    grid-template-columns: 40% 60%;
}
/*Footer*/
.footer{
    min-height: 150px;
    background-color: rgb(152, 181, 207);
}
.footer-container{
    padding-top: 30px;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.contact{
    width: 20%;
}
.established{
    width: 20%;
}
.follow{
    text-align: right;
    width: 20%;
}
.icons i{
    margin: 10px 0 0 10px;

}